{% extends "base.html" %}

{% block title %}Welcome to the webpage{% endblock %}

{% block content %}
<head>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <a href="{% url 'graph' %}"><button>Go to Graph Page</button></a>
    <a href="{% url 'test' %}"><button>Go to Alt Page</button></a>
    <a href="{% url 'dropdown' %}"><button>Go to Dropdown Page</button></a>
    <a href="{% url 'landing' %}"><button>Go to Landing Page</button></a>
    <a href="{% url 'application_one' %}"><button>Go to app 1 Page</button></a>
    <a href="{% url 'application_two' %}"><button>Go to app 2 Page</button></a>
</body>
{% endblock %}


