<form method="post" action="{% url 'landing' %}">
    {% csrf_token %}
    <select name="manager_dropdown">
        {% for fund in funds %}
            <option value="{{ fund.cik }}" {% if fund.cik == selected_cik %}selected{% endif %}>{{ fund.manager_name }}</option>
        {% endfor %}
    </select>    
    <input type="submit" value="Submit">
</form>

{% if plot %}
    {{ plot|safe }}
{% endif %}

<!-- Dropdown for cusip__name selection -->
<select id="cusip_dropdown">
    {% for position_name in unique_cusip_names %}
        <option value="{{ position_name }}">{{ position_name }}</option>
    {% endfor %}
</select>
<button id="cusip_submit">Filter</button>

<!-- Div to hold the filtered positions table -->
<div id="filtered_positions"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#cusip_submit').click(function() {
        var selectedCusipName = $('#cusip_dropdown').val();
        
        $.ajax({
            url: '{% url "get_filtered_positions" %}',
            method: 'GET',
            data: {
                'cusip_name': selectedCusipName,
                'cik': $('[name="manager_dropdown"]').val()  // Send the selected manager's CIK as well
            },
            success: function(data) {
                $('#filtered_positions').html(data.table);
            }
        });
    });
});
</script>