<h3>Filtered Positions:</h3>
<table border="1">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Sector</th>
            <th>Value</th>
            <th>Shares</th>
            <th>Filing Period</th>
        </tr>
    </thead>
    <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.cusip__ticker }}</td>
            <td>{{ position.cusip__name }}</td>
            <td>{{ position.cusip__sector }}</td>
            <td>{{ position.value }}</td>
            <td>{{ position.shares }}</td>
            <td>{{ position.filing_period }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>